# HW3 鐵達尼號生存分析

## 載入模組

In [31]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
import pandas as pd
import numpy as np
import talib as ta
import pandas_datareader as data
import pandas_datareader.data as web
import datetime
import math

## 載入資料

In [32]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

## 觀察資料內容

In [65]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 查看缺失值

In [34]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [66]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## 觀察資料分布狀況

In [35]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [36]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## 選擇特徵

In [37]:
selected_features  = ['Pclass', 'Age', 'Fare', 'Sex', 'Embarked']

In [38]:
X_train = train[selected_features]

In [39]:
y_train = train['Survived']

In [40]:
X_test = test[selected_features]

## 處理缺失值

In [41]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass      891 non-null int64
Age         714 non-null float64
Fare        891 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

In [42]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
Pclass      418 non-null int64
Age         332 non-null float64
Fare        417 non-null float64
Sex         418 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 16.4+ KB

In [43]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace=True)
X_train['Embarked'].fillna('S', inplace=True)
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

C:\Users\chenminluo\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [44]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass      891 non-null int64
Age         891 non-null float64
Fare        891 non-null float64
Sex         891 non-null object
Embarked    891 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

## 將字串類型的類別資料做轉換

In [45]:
X_train = pd.get_dummies(X_train)

In [46]:
X_train.head()

,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,7.2500,0,1,0,0,1
1,1,38.0,71.2833,1,0,1,0,0
2,3,26.0,7.9250,1,0,0,0,1
3,1,35.0,53.1000,1,0,0,0,1
4,3,35.0,8.0500,0,1,0,0,1

In [47]:
X_test = pd.get_dummies(X_test)

In [48]:
X_test.head()

,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,7.8292,0,1,0,1,0
1,3,47.0,7.0000,1,0,0,0,1
2,2,62.0,9.6875,0,1,0,1,0
3,3,27.0,8.6625,0,1,0,0,1
4,3,22.0,12.2875,1,0,0,0,1

## 建立keras模型

In [49]:
model = Sequential()

In [56]:
model = Sequential()  
model.add(Dense(units=40,input_dim = 8,kernel_initializer='uniform',activation='relu'))  
model.add(Dense(30,activation='relu'))  
model.add(Dense(1,activation='sigmoid'))

In [57]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [58]:
train_his = model.fit(X_train ,y_train ,validation_split=0.1, epochs=100, batch_size=32, verbose=2)

Train on 801 samples, validate on 90 samples
Epoch 1/100
 - 0s - loss: 0.6504 - acc: 0.6567 - val_loss: 0.5810 - val_acc: 0.6667
Epoch 2/100
 - 0s - loss: 0.5980 - acc: 0.6916 - val_loss: 0.5498 - val_acc: 0.7111
Epoch 3/100
 - 0s - loss: 0.5826 - acc: 0.6941 - val_loss: 0.5294 - val_acc: 0.7111
Epoch 4/100
 - 0s - loss: 0.5782 - acc: 0.6816 - val_loss: 0.5172 - val_acc: 0.7333
Epoch 5/100
 - 0s - loss: 0.5591 - acc: 0.7016 - val_loss: 0.4916 - val_acc: 0.7333
Epoch 6/100
 - 0s - loss: 0.5400 - acc: 0.7166 - val_loss: 0.4979 - val_acc: 0.7556
Epoch 7/100
 - 0s - loss: 0.5533 - acc: 0.7129 - val_loss: 0.4738 - val_acc: 0.7444
Epoch 8/100
 - 0s - loss: 0.5193 - acc: 0.7303 - val_loss: 0.4680 - val_acc: 0.7667
Epoch 9/100
 - 0s - loss: 0.5034 - acc: 0.7566 - val_loss: 0.4654 - val_acc: 0.7667
Epoch 10/100
 - 0s - loss: 0.4905 - acc: 0.7715 - val_loss: 0.4554 - val_acc: 0.7667
Epoch 11/100
 - 0s - loss: 0.4845 - acc: 0.7790 - val_loss: 0.4638 - val_acc: 0.7667
Epoch 12/100
 - 0s - loss: 0.4842 - acc: 0.7615 - val_loss: 0.4582 - val_acc: 0.7667
Epoch 13/100
 - 0s - loss: 0.4796 - acc: 0.7865 - val_loss: 0.4480 - val_acc: 0.7667
Epoch 14/100
 - 0s - loss: 0.4786 - acc: 0.7740 - val_loss: 0.4554 - val_acc: 0.7667
Epoch 15/100
 - 0s - loss: 0.4703 - acc: 0.7865 - val_loss: 0.4468 - val_acc: 0.7667
Epoch 16/100
 - 0s - loss: 0.4738 - acc: 0.7915 - val_loss: 0.4486 - val_acc: 0.7667
Epoch 17/100
 - 0s - loss: 0.4827 - acc: 0.7765 - val_loss: 0.4384 - val_acc: 0.7778
Epoch 18/100
 - 0s - loss: 0.4748 - acc: 0.7828 - val_loss: 0.4409 - val_acc: 0.7667
Epoch 19/100
 - 0s - loss: 0.4702 - acc: 0.7753 - val_loss: 0.4391 - val_acc: 0.7778
Epoch 20/100
 - 0s - loss: 0.4693 - acc: 0.7865 - val_loss: 0.4598 - val_acc: 0.7667
Epoch 21/100
 - 0s - loss: 0.4730 - acc: 0.7828 - val_loss: 0.4387 - val_acc: 0.7778
Epoch 22/100
 - 0s - loss: 0.4592 - acc: 0.7928 - val_loss: 0.4581 - val_acc: 0.7667
Epoch 23/100
 - 0s - loss: 0.4763 - acc: 0.7703 - val_loss: 0.4490 - val_acc: 0.7667
Epoch 24/100
 - 0s - loss: 0.4797 - acc: 0.7778 - val_loss: 0.4390 - val_acc: 0.7778
Epoch 25/100
 - 0s - loss: 0.4690 - acc: 0.7853 - val_loss: 0.4452 - val_acc: 0.7778
Epoch 26/100
 - 0s - loss: 0.4678 - acc: 0.7790 - val_loss: 0.4348 - val_acc: 0.7778
Epoch 27/100
 - 0s - loss: 0.4560 - acc: 0.7878 - val_loss: 0.4351 - val_acc: 0.7667
Epoch 28/100
 - 0s - loss: 0.4586 - acc: 0.7890 - val_loss: 0.4352 - val_acc: 0.7778
Epoch 29/100
 - 0s - loss: 0.4766 - acc: 0.7853 - val_loss: 0.4305 - val_acc: 0.7778
Epoch 30/100
 - 0s - loss: 0.4622 - acc: 0.7828 - val_loss: 0.4339 - val_acc: 0.7667
Epoch 31/100
 - 0s - loss: 0.4716 - acc: 0.7878 - val_loss: 0.4439 - val_acc: 0.7778
Epoch 32/100
 - 0s - loss: 0.4661 - acc: 0.7928 - val_loss: 0.4340 - val_acc: 0.7667
Epoch 33/100
 - 0s - loss: 0.4564 - acc: 0.7840 - val_loss: 0.4353 - val_acc: 0.7778
Epoch 34/100
 - 0s - loss: 0.7312 - acc: 0.7203 - val_loss: 0.4818 - val_acc: 0.7667
Epoch 35/100
 - 0s - loss: 0.5505 - acc: 0.7491 - val_loss: 0.4589 - val_acc: 0.8111
Epoch 36/100
 - 0s - loss: 0.4836 - acc: 0.7965 - val_loss: 0.4450 - val_acc: 0.7778
Epoch 37/100
 - 0s - loss: 0.4676 - acc: 0.7778 - val_loss: 0.4364 - val_acc: 0.7667
Epoch 38/100
 - 0s - loss: 0.4604 - acc: 0.7790 - val_loss: 0.4346 - val_acc: 0.7667
Epoch 39/100
 - 0s - loss: 0.4571 - acc: 0.7840 - val_loss: 0.4403 - val_acc: 0.7667
Epoch 40/100
 - 0s - loss: 0.4886 - acc: 0.7928 - val_loss: 0.4278 - val_acc: 0.7778
Epoch 41/100
 - 0s - loss: 0.4613 - acc: 0.7840 - val_loss: 0.4297 - val_acc: 0.7667
Epoch 42/100
 - 0s - loss: 0.4590 - acc: 0.7903 - val_loss: 0.4291 - val_acc: 0.7667
Epoch 43/100
 - 0s - loss: 0.4529 - acc: 0.7853 - val_loss: 0.4306 - val_acc: 0.7667
Epoch 44/100
 - 0s - loss: 0.4601 - acc: 0.7815 - val_loss: 0.4291 - val_acc: 0.7667
Epoch 45/100
 - 0s - loss: 0.4518 - acc: 0.7853 - val_loss: 0.4324 - val_acc: 0.7667
Epoch 46/100
 - 0s - loss: 0.4592 - acc: 0.7815 - val_loss: 0.4232 - val_acc: 0.7667
Epoch 47/100
 - 0s - loss: 0.4585 - acc: 0.7778 - val_loss: 0.4267 - val_acc: 0.7667
Epoch 48/100
 - 0s - loss: 0.4523 - acc: 0.7903 - val_loss: 0.4257 - val_acc: 0.7667
Epoch 49/100
 - 0s - loss: 0.4697 - acc: 0.7740 - val_loss: 0.4223 - val_acc: 0.7778
Epoch 50/100
 - 0s - loss: 0.4528 - acc: 0.7840 - val_loss: 0.4195 - val_acc: 0.7667
Epoch 51/100
 - 0s - loss: 0.4474 - acc: 0.7815 - val_loss: 0.4243 - val_acc: 0.7667
Epoch 52/100
 - 0s - loss: 0.4473 - acc: 0.7903 - val_loss: 0.4205 - val_acc: 0.7667
Epoch 53/100
 - 0s - loss: 0.4497 - acc: 0.7840 - val_loss: 0.4229 - val_acc: 0.7667
Epoch 54/100
 - 0s - loss: 0.4732 - acc: 0.7703 - val_loss: 0.4227 - val_acc: 0.7667
Epoch 55/100
 - 0s - loss: 0.4468 - acc: 0.7815 - val_loss: 0.4193 - val_acc: 0.7667
Epoch 56/100
 - 0s - loss: 0.4441 - acc: 0.7865 - val_loss: 0.4222 - val_acc: 0.7778
Epoch 57/100
 - 0s - loss: 0.4472 - acc: 0.7903 - val_loss: 0.4308 - val_acc: 0.8111
Epoch 58/100
 - 0s - loss: 0.4953 - acc: 0.7828 - val_loss: 0.4184 - val_acc: 0.7778
Epoch 59/100
 - 0s - loss: 0.4549 - acc: 0.7940 - val_loss: 0.4200 - val_acc: 0.7667
Epoch 60/100
 - 0s - loss: 0.4463 - acc: 0.7865 - val_loss: 0.4230 - val_acc: 0.7667
Epoch 61/100
 - 0s - loss: 0.4449 - acc: 0.7840 - val_loss: 0.4176 - val_acc: 0.7667
Epoch 62/100
 - 0s - loss: 0.4583 - acc: 0.7940 - val_loss: 0.4182 - val_acc: 0.7778
Epoch 63/100
 - 0s - loss: 0.4957 - acc: 0.7840 - val_loss: 0.4276 - val_acc: 0.7889
Epoch 64/100
 - 0s - loss: 0.4489 - acc: 0.7953 - val_loss: 0.4152 - val_acc: 0.7667
Epoch 65/100
 - 0s - loss: 0.4498 - acc: 0.7790 - val_loss: 0.4169 - val_acc: 0.7667
Epoch 66/100
 - 0s - loss: 0.4429 - acc: 0.7915 - val_loss: 0.4149 - val_acc: 0.7667
Epoch 67/100
 - 0s - loss: 0.4407 - acc: 0.7953 - val_loss: 0.4169 - val_acc: 0.7667
Epoch 68/100
 - 0s - loss: 0.4395 - acc: 0.7915 - val_loss: 0.4182 - val_acc: 0.7667
Epoch 69/100
 - 0s - loss: 0.4397 - acc: 0.7890 - val_loss: 0.4183 - val_acc: 0.7667
Epoch 70/100
 - 0s - loss: 0.4382 - acc: 0.7928 - val_loss: 0.4157 - val_acc: 0.7778
Epoch 71/100
 - 0s - loss: 0.4367 - acc: 0.7890 - val_loss: 0.4160 - val_acc: 0.7667
Epoch 72/100
 - 0s - loss: 0.4458 - acc: 0.7878 - val_loss: 0.4171 - val_acc: 0.7667
Epoch 73/100
 - 0s - loss: 0.4473 - acc: 0.7878 - val_loss: 0.4218 - val_acc: 0.7778
Epoch 74/100
 - 0s - loss: 0.4541 - acc: 0.7928 - val_loss: 0.4175 - val_acc: 0.8000
Epoch 75/100
 - 0s - loss: 0.4488 - acc: 0.7903 - val_loss: 0.4260 - val_acc: 0.8111
Epoch 76/100
 - 0s - loss: 0.4420 - acc: 0.7978 - val_loss: 0.4202 - val_acc: 0.7778
Epoch 77/100
 - 0s - loss: 0.4385 - acc: 0.7928 - val_loss: 0.4171 - val_acc: 0.7889
Epoch 78/100
 - 0s - loss: 0.4479 - acc: 0.7940 - val_loss: 0.4143 - val_acc: 0.7889
Epoch 79/100
 - 0s - loss: 0.4370 - acc: 0.7965 - val_loss: 0.4143 - val_acc: 0.7778
Epoch 80/100
 - 0s - loss: 0.4361 - acc: 0.7953 - val_loss: 0.4131 - val_acc: 0.7778
Epoch 81/100
 - 0s - loss: 0.4382 - acc: 0.8002 - val_loss: 0.4173 - val_acc: 0.7889
Epoch 82/100
 - 0s - loss: 0.4328 - acc: 0.8102 - val_loss: 0.4186 - val_acc: 0.7778
Epoch 83/100
 - 0s - loss: 0.4364 - acc: 0.7978 - val_loss: 0.4146 - val_acc: 0.8222
Epoch 84/100
 - 0s - loss: 0.4339 - acc: 0.7940 - val_loss: 0.4158 - val_acc: 0.7778
Epoch 85/100
 - 0s - loss: 0.4288 - acc: 0.8015 - val_loss: 0.4163 - val_acc: 0.8111
Epoch 86/100
 - 0s - loss: 0.4393 - acc: 0.7990 - val_loss: 0.4152 - val_acc: 0.8111
Epoch 87/100
 - 0s - loss: 0.4567 - acc: 0.7990 - val_loss: 0.4095 - val_acc: 0.7889
Epoch 88/100
 - 0s - loss: 0.4397 - acc: 0.7990 - val_loss: 0.4126 - val_acc: 0.7778
Epoch 89/100
 - 0s - loss: 0.4321 - acc: 0.7940 - val_loss: 0.4100 - val_acc: 0.7889
Epoch 90/100
 - 0s - loss: 0.4278 - acc: 0.7990 - val_loss: 0.4104 - val_acc: 0.7889
Epoch 91/100
 - 0s - loss: 0.4304 - acc: 0.7965 - val_loss: 0.4113 - val_acc: 0.7889
Epoch 92/100
 - 0s - loss: 0.4282 - acc: 0.8015 - val_loss: 0.4086 - val_acc: 0.8222
Epoch 93/100
 - 0s - loss: 0.4302 - acc: 0.8015 - val_loss: 0.4144 - val_acc: 0.8000
Epoch 94/100
 - 0s - loss: 0.4288 - acc: 0.8077 - val_loss: 0.4128 - val_acc: 0.8000
Epoch 95/100
 - 0s - loss: 0.4291 - acc: 0.8002 - val_loss: 0.4056 - val_acc: 0.8333
Epoch 96/100
 - 0s - loss: 0.4294 - acc: 0.8127 - val_loss: 0.4105 - val_acc: 0.8222

Epoch 97/100
 - 0s - loss: 0.4348 - acc: 0.8052 - val_loss: 0.4126 - val_acc: 0.8333
Epoch 98/100
 - 0s - loss: 0.4314 - acc: 0.8077 - val_loss: 0.4055 - val_acc: 0.8333
Epoch 99/100
 - 0s - loss: 0.4282 - acc: 0.8140 - val_loss: 0.4051 - val_acc: 0.8000
Epoch 100/100
 - 0s - loss: 0.4233 - acc: 0.8127 - val_loss: 0.4137 - val_acc: 0.8111

In [59]:
scores = model.evaluate(X_train, y_train)

891/891 [==============================] - 0s 12us/step

In [60]:
survived_predict = model.predict(X_test)
survived_predict = np.array(survived_predict)
survived_predict = np.round(survived_predict)

In [62]:
survived_predict

array([[0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]], dtype=float32)

## 將結果輸出成規定的格式

In [63]:
submission=pd.DataFrame({'PassengerId':test['PassengerId'], 'Survived':survived_predict[0:418,0]})

In [64]:
submission.to_csv('submission.csv', index=False)